# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/
/release/nedetlesmaki-0.1-1.i686.rpm
/release/nedetlesmaki-0.1-installer.jar
/game/nedetlesmaki-game-0.1-installer.exe
/game/nedetlesmaki-0.1-installer.exe
/game/nedetlesmaki-0.1-installer.jar
/game/nedetlesmaki-game-0.1-installer.jar