# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
target/
/release/
/game/nedetlesmaki-lwjgl-0.1-installer.exe
/game/nedetlesmaki-0.1-installer.exe
/game/nedetlesmaki-0.1-installer.jar
/game/nedetlesmaki-lwjgl-0.1-installer.jar
/game/nedetlesmaki-lwjgl-0.1-SNAPSHOT-installer.exe
/game/nedetlesmaki-lwjgl-0.1-SNAPSHOT-installer.jar

# Assets file duplicate
playn/nedetlesmaki-playn/assets/*
playn/nedetlesmaki-playn/android/assets
