#!/usr/bin/env xdg-open

[Desktop Entry]
Version=${project.version}
Type=Application
Terminal=false
Categories=Game;
Exec=/opt/nedetlesmaki/nedetlesmaki-game.jar
Name=Ned et les maki
Comment=Ned et les maki
Icon=/opt/nedetlesmaki/icon.png
Name[fr_FR]=nedetlesmaki.desktop
